// Copyright (c) 2023, Eugene Gershnik
// SPDX-License-Identifier: GPL-3.0-or-later

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "sys_string-Exports.xcconfig"

PRODUCT_NAME = $(TARGET_NAME)
EXECUTABLE_PREFIX = lib
HEADER_SEARCH_PATHS = $(inherited) $(SYS_STRING_HEADER_SEARCH_PATHS)

SKIP_INSTALL = YES
